<div class="container my-3">
  <div class="container my-4 grid-container">
    <% @bookmarks.each do |bookmark| %>
      <div class="card card-container rounded-4">
        <%= cl_image_tag bookmark.recipe.picture.key, crop: :fill %>
        <div class="card-body">
          <h5 class="card-title"><%= bookmark.recipe.name %></h5>
          <% if bookmark.recipe.ai_created %>
            <i class="fa-solid fa-robot p-2 rounded-5 ai-gen" style="color: #84bd00; background-color: #c0dd7d"></i>
          <% end %>
        </div>
        <ul class="list-group">
          <li class="list-group-item recipe-detail"><i class="fa-solid fa-clock p-2 rounded-5" style="color: #f6784c; background-color: #fcd6c9;"></i>  <%= bookmark.recipe.time %> minutes</li>
          <li class="list-group-item recipe-detail"><i class="fa-solid fa-utensils p-2 rounded-5" style="color: #ed8b00; background-color: #f6c47d;"></i>  <%= bookmark.recipe.cuisine %></li>
          <li class="list-group-item recipe-detail"><i class="fa-solid fa-apple-whole p-2 rounded-5" style="color: #eaaa00; background-color: #f8e5b2;"></i>  <%= bookmark.recipe.diet %></li>
          <li class="list-group-item recipe-detail m-2 d-flex justify-content-center"><%= link_to "Details", recipe_path(bookmark.recipe), class: "btn-signup", style:"width: 100%; text-align: center;" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
