<div class="dashboard">

  <div class="container my-2">
    <div class="container d-flex justify-content-end mb-5">
      <%= link_to new_recipe_path, class: "btn-create mt-4 me-3" do %>
        <i class="fa-solid fa-utensils"></i>
        <p>Create a Recipe</p>
      <% end %>
    </div>

    <div class="d-flex m-4 gap-5">
      <div class="greeting">
        <h2>Hey Arthur!<h2>
        <div id="current-date">
          <%= javascript_tag do %>
            const currentDate = new Date();
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            const formattedDate = currentDate.toLocaleDateString('en-US', options);
            document.getElementById('current-date').textContent = formattedDate;
          <% end %>
        </div>
      </div>

      <div class="counter-card">
        <h3>Created Recipes</h3>
        <div class="frame">
          <i class="fa-solid fa-utensils" style="color: #84BD00; font-size: 2rem;"></i>
          <h4 style="color: #84BD00;"><%= @recipe_count %></h4>
        </div>
      </div>

      <div class="counter-card">
        <h3>Weeks w/ prep-meals</h3>
        <div class="frame">
          <i class="fa-regular fa-calendar" style="color: #FDC040; font-size: 2rem;"></i>
          <h4 style="color: #FDC040;"><%= @meal_plan_count %></h4>
        </div>
      </div>

      <div class="counter-card">
        <h3>Saved Recipes</h3>
        <div class="frame">
          <i class="fa-solid fa-bookmark" style="color: #E87767; font-size: 2rem;"></i>
          <h4 style="color: #E87767;"><%= @bookmarks_count %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex my-5">
    <div class="list-card mx-4">
      <div class="d-flex justify-content-between">
        <h3>My Recipes</h3>
        <a href="">See more →</a>
      </div>
      <p>Last saves<p>
      <% @recipes.reverse.take(5).each do |recipe| %>
        <div class="d-flex align-items-center my-3">
          <div class="img-recipe-avatar">
            <img src=<%= recipe.picture %> alt="...">
          </div>
          <div class="calories-3 mx-3"><%= recipe.name %></div>
        </div>
      <% end %>
    </div>

    <div class="list-card mx-4">
      <div class="d-flex justify-content-between">
        <h3>Meal Plans</h3>
        <a href="">See more →</a>
      </div>
      <p>Last saves</p>
      <% @meal_plans.reverse.take(5).each do |recipe| %>
        <div class="d-flex align-items-center my-3">
          <div class="img-recipe-avatar">
            <img src=<%= recipe.picture %> alt="...">
          </div>
          <div class="calories-3 mx-3"><%= recipe.name %></div>
        </div>
      <% end %>
    </div>

    <div class="list-card mx-4">
      <div class="d-flex justify-content-between">
        <h3>Favourites</h3>
        <a href="">See more →</a>
      </div>
      <p>Last saves</p>
      <% @user_recipes.reverse.take(5).each do |recipe| %>
        <div class="d-flex align-items-center my-3">
          <div class="img-recipe-avatar">
            <img src=<%= recipe.picture %> alt="...">
          </div>
          <div class="calories-3 mx-3"><%= recipe.name %></div>
        </div>
      <% end %>
    </div>
  </div>

</div>
