<div class="dashboard">
  <div class="container my-2">
    <div class="container d-flex justify-content-between align-items-center my-5">
      <div class="greeting ms-4">
        <h2>Hey <%= current_user.first_name %>!<h2>
        <div id="current-date">
          <%= Time.now.strftime("%d %B, %Y") %>
        </div>
      </div>

      <%= link_to new_recipe_path, class: "btn-create me-4" do %>
        <i class="fa-solid fa-utensils"></i>
        <p>Create a Recipe</p>
      <% end %>
    </div>

    <div class="d-flex m-4 gap-5">
      <div class="counter-card">
        <h3>Created Recipes</h3>
        <div class="frame">
          <i class="fa-solid fa-utensils" style="color: #84BD00; font-size: 2rem;"></i>
          <h4 style="color: #84BD00;"><%= @recipe_count %></h4>
        </div>
      </div>

      <div class="counter-card">
        <h3>AI Generated Recipes</h3>
        <div class="frame">
          <i class="fa-solid fa-robot" style="color: #ED8B00; font-size: 2rem;"></i>
          <h4 style="color: #ED8B00; padding-top: 2px;"><%= @recipe_ai_count %></h4>
        </div>
      </div>

      <div class="counter-card">
        <h3>Meal Plans</h3>
        <div class="frame">
          <i class="fa-regular fa-calendar" style="color: #FDC040; font-size: 2rem;"></i>
          <h4 style="color: #FDC040;"><%= @meal_plan_count %></h4>
        </div>
      </div>

      <div class="counter-card">
        <h3>Saved Recipes</h3>
        <div class="frame">
          <i class="fa-solid fa-bookmark" style="color: #E87767; font-size: 2rem;"></i>
          <h4 style="color: #E87767;"><%= @bookmarks_count %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex my-5">
    <div class="list-card mx-4">
      <div class="d-flex justify-content-between">
        <h3>My Cookbook</h3>
        <%= link_to "See more →",  cookbooks_path %>
      </div>
      <p>Last saves<p>
      <% @recipes_created.reverse.take(5).each do |recipe| %>
        <div class="d-flex align-items-center my-3">
          <%= link_to recipe_path(recipe) do %>
            <div class="img-recipe-avatar">
              <%= cl_image_tag recipe.picture.key %>
            </div>
          <% end %>
          <%= link_to recipe_path(recipe) do %>
            <h5 class="ms-3"><%= recipe.name %></h5>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="list-card mx-4">
      <div class="d-flex justify-content-between">
        <h3>Meal Plans</h3>
        <%= link_to "See more →",  meal_plans_path %>
      </div>
      <p>Last saves</p>
      <% @meal_plans.reverse.take(5).each do |recipe| %>
        <div class="d-flex align-items-center my-3">
          <%= link_to meal_plan_path(recipe) do %>
            <div class="img-recipe-avatar">
              <%= cl_image_tag recipe.picture.key %>
            </div>
          <% end %>
          <%= link_to meal_plan_path(recipe) do %>
            <h5 class="ms-3"><%= recipe.name %></h5>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="list-card mx-4">
      <div class="d-flex justify-content-between">
        <h3>Favorites</h3>
        <%= link_to "See more →",  bookmarks_path %>
      </div>
      <p>Last saves</p>
      <% @bookmarks.reverse.take(5).each do |bookmark| %>
        <div class="d-flex align-items-center my-3">
          <%= link_to recipe_path(bookmark.recipe_id) do %>
            <div class="img-recipe-avatar">
              <%= cl_image_tag bookmark.recipe.picture.key %>
            </div>
          <% end %>
          <%= link_to recipe_path(bookmark.recipe_id) do %>
            <h5 class="ms-3"><%= bookmark.recipe.name %></h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>
