<h1>Generate your plan</h1>
<%= simple_form_for(@meal_plan) do |f| %>
  <%= f.input :name %>
  <%= f.input :diet, as: :select, collection: Recipe::DIET, prompt: 'No Diet Restrictions'%>
  <%= f.input :days, as: :select, collection: MealPlan::DAYS, prompt: 0 %>
  <%= f.button :submit %>
  <% end %>
