<h1>Generate your plan</h1>
<%= simple_form_for(@meal_plan) do |f| %>
  <%= f.input :name %>
  <%= f.input :diet %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
  <% end %>
