<div class="m-0 p-5 w-100" style="background-color: #f7eddf;">

  <h1 class="text-center"><%= @meal_plan.name %> Meal Plan</h1>
  <h1><%= @recipe_data %></h1>
  <% counter = 1 %>
  <% daycounter = 1 %>
  <% counter2 = 0 %>
  <% type = '' %>

  <div class="container grid-container-meal card-meal-plan rounded-4">
    <% @meal_plan_recipes.each do |meal_recipe| %>
      <% counter += 1 and counter2 = 0 and daycounter = 1 if counter2 == 3 %>
      <% if daycounter == 1 %>
        <% type = 'Breakfast' %>
      <% elsif daycounter == 2 %>
        <% type = 'Lunch' %>
      <% elsif daycounter == 3 %>
        <% type = 'Dinner' %>
      <% end %>
      <% if counter2 < 1 %>
        <h1 class="d-flex align-items-center">Day <%= counter %></h1>
      <% end %>

      <div class="container my-4">
        <div class="card card-container rounded-4">
          <%= cl_image_tag meal_recipe.recipe.picture.key, crop: :fill %>
          <div class="card-body">
            <h6 class="text-center"><%= type %></h6>
            <h5 class="card-title"><%= meal_recipe.recipe.name %></h5>
            <% if meal_recipe.recipe.ai_created %>
              <i class="fa-solid fa-robot p-2 rounded-5 ai-gen" style="color: #84bd00; background-color: #c0dd7d"></i>
            <% end %>
          </div>
          <ul class="list-group">
            <li class="list-group-item recipe-detail"><i class="fa-solid fa-clock p-2 rounded-5" style="color: #f6784c; background-color: #fcd6c9;"></i> <%= meal_recipe.recipe.time %> minutes</li>
            <li class="list-group-item recipe-detail"><i class="fa-solid fa-utensils p-2 rounded-5" style="color: #ed8b00; background-color: #f6c47d;"></i> <%= meal_recipe.recipe.cuisine %></li>
            <li class="list-group-item recipe-detail"><i class="fa-solid fa-apple-whole p-2 rounded-5" style="color: #eaaa00; background-color: #f8e5b2;"></i> <%= meal_recipe.recipe.diet %></li>
            <li class="list-group-item recipe-detail m-2 d-flex justify-content-center"><%= link_to "Details", recipe_path(meal_recipe.recipe), class: "btn-signup", style:"width: 100%; text-align: center;" %></li>
          </ul>
        </div>
      </div>

      <% counter2 += 1 %>
      <% daycounter += 1 %>
    <% end %>
  </div>


</div>
