
<div class="container my-5 forms">
  <h2>Generate Recipe</h2>
  <%= simple_form_for :recipes, url:  ai_recipe_path, method: :get do |f| %>
    <%= f.input :ingredients %>
    <%= f.input :time %>
    <%= f.input :cuisine, as: :select, collection: Recipe::CUISINE, prompt: 'Any' %>
    <%= f.input :diet, as: :select, collection: Recipe::DIET, prompt: 'No Diet Restrictions'%>
    <%= f.submit "Submit", class: "btn-signup" %>
  <% end %>
</div>
