
<div class="container my-5 forms">
  <h2>Create Recipe</h2>
  <%= simple_form_for(@recipe) do |f| %>
    <%= f.input :name %>
    <%= f.input :ingredients%>
    <%= f.input :instructions%>
    <%= f.input :time%>
    <%= f.input :cuisine%>
    <%= f.input :diet%>
    <%= f.input :servings%>
    <%= f.input :pictures, as: :file %>
    <%= f.submit "Submit", class: "button-form" %>
  <% end %>
</div>
