<div class="container my-5 forms bg-white rounded-4 p-5" style="width: 60%;">
  <h2 class="pb-3">Create Recipe</h2>
  <%= simple_form_for(@recipe) do |f| %>
    <%= f.input :name %>
    <%= f.input :ingredients%>
    <%= f.input :instructions%>
    <%= f.label :time, 'Time in minutes' %>
    <%= f.input :time, as: :string, label: false %>
    <%= f.input :cuisine%>
    <%= f.input :diet%>
    <%= f.input :servings%>
    <%= f.input :picture, as: :file %>
    <%= f.submit "Submit", class: "button-form btn-signup" %>
  <% end %>
</div>
