
<div class="container">

    <h2>Recipe Title</h2>
    <%= @title %>
    <h2>Ingredients</h2>
        <li><%= @ingredients %></li>


    <h2>Instructions</h2>
        <%= @instructions %>

    <h2>Cooking Time</h2>
    <li><%= @cooking_time %></li>
    <h2>Servings</h2>
    <li> <%= @servings %></li>


    <h2>Nutritional Values</h2>
    <% @nutrition["calorie"] = 0 if @nutrition["calorie"].length==""%>
    <p>Calories : <%= @nutrition["calorie"] %></p>

    <% @nutrition["total-fat"]= 0 if @nutrition["total-fat"].length=="" %>
    <p>Total Fat : <%= @nutrition["total-fat"] %></p>

    <% @nutrition["saturated-fat"] = 0 if @nutrition["saturated-fat"].length=="" %>
    <p>Saturated Fat : <%= @nutrition["saturated-fat"] %></p>

    <% @nutrition["carbs"] = 0 if @nutrition["carbs"].length=="" %>
    <p>Carbohydrate : <%= @nutrition["carbs"] %></p>

    <% @nutrition["protein"] = 0 if @nutrition["protein"].length=="" %>
    <p>Protien : <%= @nutrition["protein"] %></p>

    <% @nutrition["sodium"] = 0 if @nutrition["sodium"].length=="" %>
    <p>Sodium : <%= @nutrition["sodium"] %></p>

    <% @nutrition["fiber"] = 0 if @nutrition["fiber"].length=="" %>
    <p>Fiber : <%= @nutrition["fiber"] %></p>

    <% @nutrition["sugar"] = 0 if @nutrition["sugar"].length=="" %>
    <p>Sugar: <%= @nutrition["sugar"] %></p>

    <% @nutrition["cholesterol"] = 0 if  @nutrition["cholesterol"].length=="" %>
    <p>Cholestrol : <%=  @nutrition["cholesterol"] %></p>

    <% @nutrition = {
                      :calories=> @nutrition["calorie"],
                      :total_fat=> @nutrition["total-fat"],
                      :saturated_fat=> @nutrition["saturated-fat"],
                      :sodium=> @nutrition["sodium"],
                      :carbs=> @nutrition["carbs"],
                      :dietary_fiber=> @nutrition["fiber"],
                      :sugar=> @nutrition["sugar"],
                      :protein=> @nutrition["protein"],
                      :cholesterol=> @nutrition["cholesterol"]
                    }
      %>

    <%= simple_form_for(Recipe.new) do |f| %>
      <%= f.input :name, input_html: {value: @title}, :as => :hidden %>
      <%= f.input :ingredients, input_html: {value: @ingredients}, :as => :hidden %>
      <%= f.input :instructions, input_html: {value: @instructions}, :as => :hidden  %>
      <%= f.input :time, input_html: {value: @time},:as => :hidden %>
      <%= f.input :cuisine, input_html: {value: @cuisine},:as => :hidden %>
      <%= f.input :diet, input_html: {value: @diet},:as => :hidden%>
      <%= f.input :servings, input_html: {value: @servings},:as => :hidden%>

      <%= hidden_field_tag 'nutrition', @nutrition %>

      <%= f.submit "Save this Recipe", class: "button-form" %>
    <% end %>

</div>
