<div class="container d-flex justify-content-center my-5">
  <div class="p-3">


    <div class="container">
      <div class="img-container rounded-4">
        <img src="<%= @imgUrl %>">
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="pt-5"><%= @title %></h1>

        <div>
          <%= simple_form_for(Recipe.new) do |f| %>
              <%= f.input :name, input_html: {value: @title}, :as => :hidden %>
              <%= f.input :ingredients, input_html: {value: @ingredients}, :as => :hidden %>
              <%= f.input :instructions, input_html: {value: @instructions}, :as => :hidden  %>
              <%= f.input :time, input_html: {value: @time},:as => :hidden %>
              <%= f.input :cuisine, input_html: {value: @cuisine},:as => :hidden %>
              <%= f.input :diet, input_html: {value: @diet},:as => :hidden%>
              <%= hidden_field_tag 'img', @imgUrl  %>

              <%= hidden_field_tag 'nutrition', @nutrition  %>
              <%= f.submit "Save this Recipe", class: "button-form btn-signup mt-1" %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="container pt-3">
      <ul class="list-inline rounded-4 pt-3">
        <li class="list-inline-item pe-3"><i class="fa-solid fa-clock p-2 rounded-5" style="color: #f6784c; background-color: #fcd6c9;"></i> Time: <%= @cooking_time %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-utensils p-2 rounded-5" style="color: #ed8b00; background-color: #f6c47d;"></i> Cuisine: <%= @cuisine %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-apple-whole p-2 rounded-5" style="color: #eaaa00; background-color: #f8e5b2;"></i> Diet: </li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-user-group p-2 rounded-5" style="color: #c4d600; background-color: #edf2b2"></i> Servings: <%= @servings %></li>
      </ul>
    </div>



    <div class="container">
      <div class="row">
        <div class="col bg-white rounded-4 me-2 p-5">
          <h4 class="pb-3">Ingredients</h4>

          <% ingredients = @response["recipe"]["ingredients"].split(',') %>
          <% ingredients.each do | ingredient | %>
          <li class="list-group-item"><%= ingredient %></li>
          <% end %>
        </div>

        <div class="col bg-white rounded-4 ms-2 p-5">
          <h4 class="pb-3">Instructions</h4>
          <% instructions = @response["recipe"]["instructions"].lines.map(&:chomp) %>
          <% instructions.each do | instruction | %>
          <li class="list-group-item"><%= instruction %></li>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container bg-white rounded-4 mt-3 p-5">
      <h4 class="pb-3">Nutritional Values</h4>
      <% @nutrition["calories"] = 0 if @nutrition["calories"].length==""%>
      <p>Calories : <%= @nutrition["calories"] %></p>

      <% @nutrition["total_fat"]= 0 if @nutrition["total_fat"].length=="" %>
      <p>Total Fat : <%= @nutrition["total_fat"] %></p>

      <% @nutrition["saturated_fat"] = 0 if @nutrition["saturated_fat"].length=="" %>
      <p>Saturated Fat : <%= @nutrition["saturated_fat"] %></p>

      <% @nutrition["carbs"] = 0 if @nutrition["carbs"].length=="" %>
      <p>Carbohydrate : <%= @nutrition["carbs"] %></p>

      <% @nutrition["protein"] = 0 if @nutrition["protein"].length=="" %>
      <p>Protien : <%= @nutrition["protein"] %></p>

      <% @nutrition["sodium"] = 0 if @nutrition["sodium"].length=="" %>
      <p>Sodium : <%= @nutrition["sodium"] %></p>

      <% @nutrition["dietary_fiber"] = 0 if @nutrition["dietary_fiber"].length=="" %>
      <p>Fiber : <%= @nutrition["dietary_fiber"] %></p>

      <% @nutrition["sugar"] = 0 if @nutrition["sugar"].length=="" %>
      <p>Sugar: <%= @nutrition["sugar"] %></p>

      <% @nutrition["cholesterol"] = 0 if  @nutrition["cholesterol"].length=="" %>
      <p>Cholestrol : <%=  @nutrition["cholesterol"] %></p>

      <% @nutrition = {
                        :calories=> @nutrition["calories"],
                        :total_fat=> @nutrition["total_fat"],
                        :saturated_fat=> @nutrition["saturated_fat"],
                        :sodium=> @nutrition["sodium"],
                        :carbs=> @nutrition["carbs"],
                        :dietary_fiber=> @nutrition["dietary_fiber"],
                        :sugar=> @nutrition["sugar"],
                        :protein=> @nutrition["protein"],
                        :cholesterol=> @nutrition["cholesterol"]
                      }
        %>
    </div>


  </div>
</div>
