      <div class="container d-flex justify-content-center" height=50>

    <%= simple_form_for :random, url: recipes_path, method: :get, class: "d-flex m-3" do |f| %>
      <%= f.input :ingredients, required: false %>
      <%= f.input :name, required: false %>
      <%= f.input :cuisine, collection: Recipe::CUISINE, required: false %>
      <%= f.input :time, required: false %>
      <%= f.input :diet, collection: Recipe::DIET, required: false %>
      <%= f.button :submit, "Search", class: "btn button-form" %>
      <% end %>
    </div>

  <div class="container my-5 grid-container">
    <% @recipes.each do |recipe| %>
      <div class="card card-container">
        <img src=<%= recipe.picture %> class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text"><%= recipe.instructions %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Time: <%= recipe.time %> minutes</li>
          <li class="list-group-item">Cuisine: <%= recipe.cuisine %></li>
          <li class="list-group-item">Diet: <%= recipe.diet %></li>
          <li class="list-group-item">Servings: <%= recipe.servings %></li>
          <% if recipe.ai_created %>
            <li class="list-group-item">AI Generated</li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
