<div class="container d-flex justify-content-center my-5">

  <div class="p-3">
    <div class="container">
      <div class="img-container rounded-4">
        <%= cl_image_tag @recipe.picture.key, crop: :fill %>
      </div>
      <h1 class="pt-5"><%= @recipe.name %></h1>
    </div>

    <div class="container pt-3">
      <ul class="list-inline rounded-4 pt-3">
        <li class="list-inline-item pe-3"><i class="fa-solid fa-clock p-2 rounded-5" style="color: #f6784c; background-color: #fcd6c9;"></i> Time:  <%= @recipe.time %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-utensils p-2 rounded-5" style="color: #ed8b00; background-color: #f6c47d;"></i> Cuisine: <%= @recipe.cuisine %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-apple-whole p-2 rounded-5" style="color: #eaaa00; background-color: #f8e5b2;"></i> Diet: <%= @recipe.diet %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-user-group p-2 rounded-5" style="color: #c4d600; background-color: #edf2b2"></i> Servings: <%= @recipe.servings %></li>
        <% if @recipe.ai_created %>
          <li class="list-inline-item pe-3"><i class="fa-solid fa-robot p-2 rounded-5" style="color: #84bd00; background-color: #c0dd7d"></i> AI Generated</li>
        <% end %>
        <li class="list-inline-item pe-3">
          <% unless @recipe.user_id == current_user && ai_created == false %>
            <% if current_user.has_bookmarked?(@recipe) %>
              <%= link_to bookmark_path(@bookmark), data: { turbo_method: :delete }, class: "btn" do %>
                <i class="fa-solid fa-bookmark" style="color: #E87767; font-size: 28px;"></i>
              <% end %>
            <% else %>
              <%= link_to recipe_bookmarks_path(@recipe), data: { turbo_method: :post }, class: "btn" do %>
                <i class="fa-regular fa-bookmark" style="color: #E87767; font-size: 28px;"></i>
              <% end %>
            <% end %>
          <% end %></li>
      </ul>
    </div>

    <div class="container pt-3">
      <div class="row">
          <div class="col bg-white rounded-4 me-2 p-5">
            <h4>Ingredients</h4>
              <% ingredients = @recipe["ingredients"].split(',') %>
              <% ingredients.each do | ingredient | %>
                  <li class="list-group-item"><%= ingredient %></li>
              <% end %>
          </div>

          <div class="col bg-white rounded-4 ms-2 p-5">
            <h4>Instructions</h4>
              <% instructions = @recipe["instructions"].lines.map(&:chomp) %>
              <% instructions.each do | instruction | %>
                  <li class="list-group-item"><%= instruction %></li>
              <% end %>
          </div>
      </div>
    </div>


    <% if !@nutrition.empty? %>
    <div class="container bg-white rounded-4 mt-3 p-5">
      <h4>Nutrition</h4>
      <ul class="list-group rounded-4 pt-3" style="list-style: none;">
        <li>Calories : <%= @nutrition[0]["calories"].to_i %></li>
        <li>Total Fat : <%= @nutrition[0]["total_fat"].to_i %></li>
        <li>Saturated Fat : <%= @nutrition[0]["saturated_fat"].to_i %> </li>
        <li>sodium : <%= @nutrition[0]["sodium"].to_i %></li>
        <li>Carbohydrate : <%= @nutrition[0]["carbs"].to_i %></li>
        <li>Dietry Fiber : <%= @nutrition[0]["dietry_fiber"].to_i %></li>
        <li>Sugar : <%= @nutrition[0]["sugar"].to_i %></li>
        <li>Protien : <%= @nutrition[0]["protien"].to_i %></li>
        <li>Cholesterol : <%= @nutrition[0]["cholesterol"].to_i %></li>
      </ul>
    </div>
    <% end %>



  </div>

</div>
