<div class="container w-100 d-flex justify-content-center my-5">
  <div class="w-100 p-3">

    <div class="container">
      <div class="img-container rounded-4">
        <%= cl_image_tag @recipe.picture.key, crop: :fill %>
      </div>
      <h1 class="pt-5"><%= @recipe.name %></h1>
    </div>

    <div class="container pt-3">
      <ul class="list-inline rounded-4 pt-3">
        <li class="list-inline-item pe-3"><i class="fa-solid fa-clock p-2 rounded-5" style="color: #f6784c; background-color: #fcd6c9;"></i> Time:  <%= @recipe.time %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-utensils p-2 rounded-5" style="color: #ed8b00; background-color: #f6c47d;"></i> Cuisine: <%= @recipe.cuisine %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-apple-whole p-2 rounded-5" style="color: #eaaa00; background-color: #f8e5b2;"></i> Diet: <%= @recipe.diet %></li>
        <li class="list-inline-item pe-3"><i class="fa-solid fa-user-group p-2 rounded-5" style="color: #c4d600; background-color: #edf2b2"></i> Servings: <%= @recipe.servings %></li>
        <% if @recipe.ai_created %>
          <li class="list-inline-item pe-3"><i class="fa-solid fa-robot p-2 rounded-5" style="color: #84bd00; background-color: #c0dd7d"></i> AI Generated</li>
        <% end %>
        <li class="list-inline-item pe-3">
          <% unless @recipe.user == current_user && @recipe.ai_created == false %>
            <% if current_user.has_bookmarked?(@recipe) %>
              <%= link_to bookmark_path(@bookmark), data: { turbo_method: :delete }, class: "btn" do %>
                <i class="fa-solid fa-bookmark" style="color: #E87767; font-size: 28px;"></i>
              <% end %>
            <% else %>
              <%= link_to recipe_bookmarks_path(@recipe), data: { turbo_method: :post }, class: "btn" do %>
                <i class="fa-regular fa-bookmark" style="color: #E87767; font-size: 28px;"></i>
              <% end %>
            <% end %>
          <% end %></li>
      </ul>
    </div>

    <div class="container pt-3">
      <div class="row">
          <div class="col bg-white rounded-4 me-2 p-5">
            <h4>Ingredients</h4>
              <% ingredients = @recipe["ingredients"].split(',') %>
              <% ingredients.each do | ingredient | %>
                  <li class="list-group-item"><%= ingredient %></li>
              <% end %>
          </div>

          <div class="col bg-white rounded-4 ms-2 p-5">
            <h4>Instructions</h4>
              <% instructions = @recipe["instructions"].lines.map(&:chomp) %>
              <% instructions.each do | instruction | %>
                  <li class="list-group-item"><%= instruction %></li>
              <% end %>
          </div>
      </div>
    </div>

    <!-- nutrition -->
    <% if !@nutrition.empty? %>
    <div class="bg-white rounded-4 mt-3 p-5">
      <h4 class="mx-4">Nutritional Values</h4>
      <div class="nutrition-value d-flex p-2 mx-5">
        <ul class="list-group rounded-4 pt-3" style="list-style: none;">
          <li style="color: black;"><strong>Calories:</strong> <%= @nutrition[0]["calories"].to_i %></li>
          <li><strong>Total Fat:</strong> <%= @nutrition[0]["total_fat"].to_i %> g</li>
          <li><strong>Saturated Fat:</strong> <%= @nutrition[0]["saturated_fat"].to_i %> g</li>
          <li><strong>sodium:</strong> <%= @nutrition[0]["sodium"].to_i %> mg</li>
          <li><strong>Carbohydrate:</strong> <%= @nutrition[0]["carbs"].to_i %> g</li>
          <li><strong>Dietry Fiber:</strong> <%= @nutrition[0]["dietry_fiber"].to_i %> g</li>
          <li><strong>Sugar:</strong> <%= @nutrition[0]["sugar"].to_i %> g</li>
          <li><strong>Protein:</strong> <%= @nutrition[0]["protien"].to_i %> g</li>
          <li><strong>Cholesterol:</strong> <%= @nutrition[0]["cholesterol"].to_i %> mg</li>
        </ul>
        <div class="container d-flex justify-content-center">
          <% if !@nutrition.empty? %>
            <canvas id="chartId" aria-label="chart" height="350" width="580"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
            <script>
                var chrt = document.getElementById("chartId").getContext("2d");
                var chartId = new Chart(chrt, {
                  type: 'doughnut',
                  data: {
                      labels: ["Total Fat", "Saturated Fat", "Sodium", "Carbohydrate", "Dietry Fiber", "Sugar", "Protein", "Cholesterol"],
                      datasets: [{
                      label: "Nutrition",
                      data: ["<%= @nutrition[0]["total_fat"].to_i %>",
                              "<%= @nutrition[0]["saturated_fat"].to_i%>",
                              "<%= @nutrition[0]["sodium"].to_i/1000 %>",
                              "<%= @nutrition[0]["carbs"].to_i %>",
                              "<%= @nutrition[0]["dietry_fiber"].to_i %>",
                              "<%= @nutrition[0]["sugar"].to_i %>",
                              "<%= @nutrition[0]["protien"].to_i %>",
                              "<%= @nutrition[0]["cholesterol"].to_i/1000 %>"
                              ],
                      backgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen', 'gold', 'lightblue','grey','purple','lightbrown'],
                      hoverOffset: 5
                      }],
                  },
                  options: {
                      responsive: false,
                  },
                });
            </script>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>



    <!-- reviews -->
    <div class="container mt-5">
      <h2 class="mb-3">Reviews</h2>

      <% rating = 0 %>
      <% @reviews.each do |review| rating+=review["rating"] end %>
      <% avg_rating = rating.to_f/@reviews.length %>

      <div class="row">
        <div class="col">
          <div class="container p-5 border rounded-4">
            <h4 class="pb-3"><%= @recipe.name %></h4>
            <% if !@reviews.empty? %>
                <p class="pb-5 border-bottom"><i class="fa-solid fa-star p-2 rounded-5" style="color: #84bd00; background-color: #c0dd7d"></i> <%=avg_rating.round(1) %></p>
                <ul class="list-group list-group-flush">
                  <% @reviews.each do |review| rating+=review["rating"] %>
                      <li class="list-group-item p-3">
                        <p class="blockquote-footer mt-3"><i><%= review.user.first_name %> <%= review.user.created_at.to_date %></i> </p>
                        <p>Rating: <%= review["rating"] %></p>
                        <p><%=  review["comment"] %></p>
                      </li>
                  <% end %>
              <% else %>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3"><p>Be the first one to review this recipe</p></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="col">
          <div class="container forms bg-white rounded-4 p-5" style="width: 100%;">
              <h4 class="pb-3">Add Review</h4>
                <%= simple_form_for([@recipe,@review]) do |f| %>
                <%= f.input :rating %>
                <%= f.input :comment%>
                <%= f.submit "Add a Review", class: "button-form btn-signup" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
