<li><%= @recipe.name %></li>
<li><%= @recipe.ingredients %></li>
<li><%= @recipe.instructions %></li>
<li><%= @recipe.time %></li>
<li><%= @recipe.cuisine %></li>
<li><%= @recipe.diet %></li>
<li><%= @recipe.ai_created %></li>
<li><%= @recipe.servings %></li>
