<div class="container my-3">
  <div class="container my-4 grid-container">
      <% @user_recipes.each do |cookbook| %>
      <% unless cookbook.ai_created %>
        <div class="card card-container rounded-4">
          <%= cl_image_tag cookbook.picture.key, crop: :fill %>
          <div class="card-body">
            <h5 class="card-title"><%= cookbook.name %></h5>
          </div>
          <ul class="list-group">
            <li class="list-group-item recipe-detail"><i class="fa-solid fa-clock p-2 rounded-5" style="color: #f6784c; background-color: #fcd6c9;"></i> <%= cookbook.time %> minutes</li>
            <li class="list-group-item recipe-detail"><i class="fa-solid fa-utensils p-2 rounded-5" style="color: #ed8b00; background-color: #f6c47d;"></i> <%= cookbook.cuisine %></li>
            <li class="list-group-item recipe-detail"><i class="fa-solid fa-apple-whole p-2 rounded-5" style="color: #eaaa00; background-color: #f8e5b2;"></i> <%= cookbook.diet %></li>
            <li class="list-group-item recipe-detail m-2 d-flex justify-content-center"><%= link_to "Details", recipe_path(cookbook), class: "btn-signup", style:"width: 100%; text-align: center;" %></li>
          </ul>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
