<!DOCTYPE html>
<html>
  <head>
    <title>VKA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
  </head>

  <body class="d-flex">
    <%= render "layouts/sidebar" unless
                                current_page?(root_path) ||
                                current_page?(new_user_registration_path) ||
                                current_page?(new_user_session_path) %>
    <%= yield %>
  </body>
</html>
